* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.signup_container {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(321deg, #aef08a, #e6a464, #d09cfa);
    background-size: 600% 600%;
    animation: up 12s ease infinite;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes up {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}

.signup_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.3);
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
}

.left h1 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.6);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	padding-left: 2.5rem;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #3bb19b;
	color: white;
	margin: 10px;
}
